.DiaryItem {
    display: flex;
    align-items: center;
    gap: 15px;
    padding: 15px 0;
    border-bottom: 1px solid #eee;
}

.img-section {
    min-width: 120px;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    cursor: pointer;
}

.img-section img {
    width: 50%;
}

.img-section.bg-1 {
    background-color: rgb(100, 201, 100);
}

.img-section.bg-2 {
    background-color: rgb(157, 215, 114);
}

.img-section.bg-3 {
    background-color: rgb(253, 206, 23);
}

.img-section.bg-4 {
    background-color: rgb(253, 132, 70);
}

.img-section.bg-5 {
    background-color: rgb(253, 86, 95);
}
.info-section{
    flex: 1;
    cursor: pointer;
}
.info-section .content{
    font-size: 18px;
}
.info-section .created-date{
    font-size: 25px;
    font-weight: bold;
}