.EmotionItem {
    padding: 20px;
    text-align: center;
    background-color: #eee;
    border-radius: 5px;
    cursor: pointer;
}

.EmotionItem img {
    width: 80%;
}
.EmotionItem.item_on_1{
     color: white;
    background-color: rgb(100, 201, 100);
}
.EmotionItem.item_on_2{
    color: white;
    background-color: rgb(157, 215, 114);
}
.EmotionItem.item_on_3{
    color: white;
    background-color: rgb(253, 206, 23);
}

.EmotionItem.item_on_4{
    color: white;
    background-color: rgb(253, 132, 70);
}
.EmotionItem.item_on_5{
  color: white;
    background-color: rgb(253, 86, 95);
}